// PRIMARY NEXTFLOW.CONFIG

// DEFAULT PARAMETERS
params {

	// BASIC PARAMS
	help = false
	version = false
	debug = false
	take = "10"
	fork = "10"

	// INPUT / OUTPUT
	input = "$PWD"
	reference = false
	output = "snps"

	// GENERAL
	clusters = false
	variants = false

	regions = 100000
	ploidy = 2
}


// NEXTFLOW PROFILES
profiles {

	// -profile standard
	standard {
		includeConfig "${baseDir}/config/base.config"
	}

	// -profile conda
	conda {
		includeConfig "${baseDir}/config/base.config"
		process.conda = "$baseDir/env/environment.yml"
	}

	// -profile docker
	docker {
		includeConfig "${baseDir}/config/base.config"
		docker.enabled = true
		process.container = 'epidiverse/snp'
	}

	// -profile singularity
	singularity {
		includeConfig "${baseDir}/config/base.config"
		singularity.enabled = true
		process.container = 'epidiverse/snp'
	}


	// -profile test
	test {
		includeConfig "${baseDir}/config/base.config"
		includeConfig "${baseDir}/config/test.config"
	}

	// -profile epi
	epi {
		includeConfig "${baseDir}/config/base.config"
		process.conda='/scr/epi/pipelines/snp/libs/snp'
		process.executor='slurm'
		process.queue='crunch'
		includeConfig "${baseDir}/config/epidiverse.config"
	}

	// -profile diverse
	diverse {
		includeConfig "${baseDir}/config/base.config"
		process.conda='/scr/epi/pipelines/snp/libs/snp'
		process.executor='slurm'
		process.queue='test'
		includeConfig "${baseDir}/config/epidiverse.config"
	}

	// -profile custom
	custom {
		// Don't load any config (for use with custom home configs)
	}
}


// NEXTFLOW MANIFEST
manifest {
	homePage = "https://github.com/epidiverse/snp"
	author = "Adam Nunn"
	description = "A pipeline for variant calling from bisulfite-sequencing data"
	mainScript = "main.nf"
	version = "0.1.0dev"
	nextflowVersion = "19.09+"
}


// NEXTFLOW REPORTING
dag {
	enabled = true
	file = "${params.output}/dag.svg"
}
report {
	enabled = true
	file = "${params.output}/report.html"
}
timeline {
	enabled = true
	file = "${params.output}/timeline.html"
}
trace {
	enabled = true
	file = "${params.output}/trace.txt"
}