/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run epidivere/snp -profile test
 */


params {

    variants = true
    clusters = true

    reference = "https://github.com/epidiverse/datasets/raw/snp/reference/genome.fa"

    // set BAMPaths parameter (only available in test profile)
    BAMPaths = [
    ['sampleA', 'https://github.com/epidiverse/datasets/raw/snp/bam/sampleA.bam'],
    ['sampleB', 'https://github.com/epidiverse/datasets/raw/snp/bam/sampleB.bam'],
    ['sampleC', 'https://github.com/epidiverse/datasets/raw/snp/bam/sampleC.bam'],
    ]
}
