/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run epidivere/snp -profile test
 */


params {

    input = "test profile"
    variants = true
    clusters = true

    reference = "https://github.com/epidiverse/datasets/raw/snp/reference/genome.fa"

    // set BAMPaths parameter (only available in test profile)
    BAMPaths = [
    ['sample1', 'https://github.com/epidiverse/datasets/raw/snp/bam/sample1.bam'],
    ['sample2', 'https://github.com/epidiverse/datasets/raw/snp/bam/sample2.bam'],
    ['sample3', 'https://github.com/epidiverse/datasets/raw/snp/bam/sample3.bam'],
    ['sample4', 'https://github.com/epidiverse/datasets/raw/snp/bam/sample4.bam'],
    ['sample5', 'https://github.com/epidiverse/datasets/raw/snp/bam/sample5.bam'],
    ['sample6', 'https://github.com/epidiverse/datasets/raw/snp/bam/sample6.bam'],
    ]
}
