/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run epidivere/dmr -profile test
 */


params {


    // set BAMPaths parameter (only available in test profile)
    BAMPaths = [
    ['sampleA', '/homes/epi/adam/DEMO/wgbs/sampleA/sampleA.bam'],
    ['sampleB', '/homes/epi/adam/DEMO/wgbs/sampleB/sampleB.bam']
    ]
}
