// custom.config
// usage: nextflow run epidiverse/dmr [OPTIONS] -c /path/to/custom.config
//
// use this file to configure jobs on your own grid machine
// conda/docker/singularity is required for pipeline dependencies
//
// refer here to determine executor support
// https://www.nextflow.io/docs/latest/executor.html
//
// example with PBSPRO:
//

conda.cacheDir = "/path/to/shared/environments"
singularity.cacheDir = "/path/to/shared/containers"
singularity.enabled = false
docker.enabled = false


process {

	executor = 'pbspro'

	// with conda
	module = ['Miniconda3']
	conda = "${baseDir}/env/environment.yml"

	// with docker/singularity
	container = "epidiverse/dmr"

}


executor {

	$pbspro {
		jobName = { "${task.name}".replaceAll("\\s","") }
		submitRateLimit = '20 min'
		queueSize = 20
		pollInterval = '30 sec'
	}
}